[Unit]
Description=BLEPT-example
After=blept-example-cfg.service bluetooth.service edge-core.service
Wants=blept-example-cfg.service bluetooth.service edge-core.service

[Service]
Type=simple
EnvironmentFile=/var/run/blept-example.conf
ExecStart=/opt/arm/blept-example --protocol-translator-name=blept-example --endpoint-postfix=-${ETH0_MAC} --clear-cache --extended-discovery-file=/opt/arm/blept-devices.json
StandardOutput=file:/var/log/blept-example.log
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
