[Unit]
Description=BLEPT-example config
Before=blept-example.service
After=edge-core.service
Wants=edge-core.service

[Service]
Type=oneshot
ExecStart=/opt/arm/blept-example-cfg.sh

[Install]
WantedBy=multi-user.target
