[Unit]
Description=PT-example config
Before=pt-example.service
After=edge-core.service
Wants=edge-core.service

[Service]
Type=oneshot
ExecStart=/opt/arm/pt-example-cfg.sh

[Install]
WantedBy=multi-user.target
