[Unit]
Description=PT-example
After=pt-example-cfg.service edge-core.service
Wants=pt-example-cfg.service edge-core.service

[Service]
Type=simple
EnvironmentFile=/var/run/pt-example.conf
ExecStart=/opt/arm/pt-example --protocol-translator-name=pt-example --endpoint-postfix=-${ETH0_MAC}
StandardOutput=file:/var/log/pt-example.log
Restart=always
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
