[Unit]
Description=Edge Core
After=systemd-networkd-wait-online.service

[Service]
Restart=always
RestartSec=5s
ExecStartPre=mkdir -m700 -p /userdata/mbed
ExecStart=/wigwag/mbed/edge-core  --http-port 9101

[Install]
RequiredBy=network.target
