[Unit]
Description=Edge core
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/arm/edge-core --http-port=8080
StandardOutput=file:/var/log/edge-core.log
Restart=always
RestartSec=5
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
